{% extends "base.html" %} {% block content %}
<h2>About Page</h2>
<p>
  The formation of the group grew out of a meeting Gandalf had with Thorin in
  Bree which kindled Thorin's interest in recapturing his long lost family
  inheritance. (Thorin's grandfather had been the King under the Mountain when
  Smaug came and took it.) Remembering that he had once known an adventurous
  Hobbit on his travels in the Shire, Gandalf decided to add Bilbo to their
  company because he knew that stealth and cunning were preferable to force.
  Gandalf also believed that someone like Bilbo could keep the sometimes
  prideful and stubborn Dwarves from rash action. The superstitious Dwarves also
  considered thirteen to be an unlucky number, and as Gandalf had planned to
  leave on other business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Thorin Oakenshield</h3>
    <p>
      Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the
      Lonely Mountain. Early in his youth, he and the other Dwarves of the
      Lonely Mountain were forced to flee by the dragon Smaug in TA 2770. While
      in exile, he quickly grew to become a capable warrior. This was
      demonstrated when he participated in the Battle of Azanulbizar in TA 2799.
      He fought with one of the Dwarven armies beneath the East-gate of Moria.
      At some point in the fighting, his shield broke, and using an oaken tree
      branch found on the ground as a shield, he gained the epithet
      "Oakenshield," which would remain with him even in death.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/7/76/ThorinTDOMTextlessPoster.jpg"
      alt="Thorin Oakenshield"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg"
      alt="Fili and Kili"
    />
  </div>
  <div class="col-md-7">
    <h3>Fili and Kili</h3>
    <p>
      Fíli and Kíli were nephews of Thorin, who was the elder brother of their
      mother Dís. They were also nephews of Frerin, grandsons of Thráin II, and
      great-grandsons of Thrór. Fíli's most distinguishing feature was his long
      nose, the longest of any of the Dwarves in Thorin's company.
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Óin</h3>
    <p>
      Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle
      of Gimli. Óin's uncle was Fundin, the father of Balin and Dwalin. He
      fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in
      TA 2941 joined Thorin's company on the quest to reclaim the Lonely
      Mountain, wearing a brown hood.[2] Óin was one of the Dwarves who bet that
      Bilbo would come along with them to reclaim the Lonely Mountain. Óin and
      his brother Glóin were usually in charge of preparing the fire for the
      Company, as they were the most skilled of the group. He fought in and
      survived the Battle of Five Armies, and later settled in the Lonely
      Mountain with King Dáin II Ironfoot, along with many other Dwarves of the
      company of Thorin.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/the-hobbit-lotr-trilogies/images/9/9d/Oin_TH.png"
      alt="Óin"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9495549c-4b81-474b-879a-d4387751063c/de3264p-f75c934f-79cb-4467-b8ec-bc5883fe0141.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk0OTU1NDljLTRiODEtNDc0Yi04NzlhLWQ0Mzg3NzUxMDYzY1wvZGUzMjY0cC1mNzVjOTM0Zi03OWNiLTQ0NjctYjhlYy1iYzU4ODNmZTAxNDEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.nNumbq2BKj85KQMjL9onjmaBk0GqTl3Lf0uIhJi5vt0"
      alt="Gloin"
    />
  </div>
  <div class="col-md-7">
    <h3>Gloin</h3>
    <p>
      Glóin was born in TA 2783, after the dragon Smaug desolated Erebor. He was
      the younger child of Gróin and younger brother of Óin. In TA 2799, Glóin
      was known to have fought in the Battle of Azanulbizar, the last battle of
      the War of the Dwarves and Orcs, though it is unknown how significant his
      contribution was, being 16 years old. In TA 2879, in the Blue Mountains,
      while in exile, his son Gimli was born to him and an unknown wife. In
      March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard
      Gandalf the Grey, pushing Thorin to reclaim Erebor, so that Smaug wouldn't
      ally with Sauron. When Gandalf mentioned Hobbits, Glóin referred them as
      "simpletons" and also said that Hobbits "would never dare to come within
      smelling distance of the nakedest dragonet new from the shell".
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Balin</h3>
    <p>
      Balin was likely born in the Lonely Mountain before the coming of the
      dragon Smaug. He had a younger brother named Dwalin, and was amongst those
      driven from their homes when Smaug attacked the Lonely Mountain.
      Afterwards, he may have lived in Dunland as a refugee, before fighting in
      the War of the Dwarves and Orcs which culminated in the Battle of
      Azanulbizar. Many years later, in approximately TA 2841, he accompanied
      Thráin II, the father of Thorin, when he attempted to go back to the
      Lonely Mountain himself, but Thráin was captured and lost.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="http://www.theonering.net/torwp/wp-content/uploads/2010/11/balin-kenstott.jpg"
      alt="Balin"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://www.looper.com/img/gallery/heres-why-dwalin-from-the-hobbit-looks-so-familiar/intro-1612537139.jpg"
      alt="Dwalin"
    />
  </div>
  <div class="col-md-7">
    <h3>Dwalin</h3>
    <p>
      Born in TA 2772, two years after the dragon Smaug had desolated Erebor,
      Dwalin was the son of Fundin and younger brother of Balin. After fighting
      in the Battle of Azanulbizar at the age of 27, Dwalin accompanied Thráin
      II and Thorin Oakenshield to settle peacefully in the northern Ered Luin.
      Later in TA 2841, Dwalin, along with his brother Balin, and a few others
      accompanied Thráin when he left the Ered Luin on a Quest to reclaim
      Erebor. The small party was dogged by the emissaries of Sauron. In TA
      2845, Thráin was captured one night when he and his companions sheltered
      under the eaves of Mirkwood from a black rain. After a fruitless search
      for their king, the Dwarves gave up and returned to Thorin to inform him
      the news.
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Ori</h3>
    <p>
      Ori lived in Thorin's Halls in the northern Blue Mountains for many years,
      alongside his cousins: Dori and Nori. In the year TA 2941, Ori became a
      member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo
      Baggins, and the other Dwarves on the quest for the Lonely Mountain,
      culminating in the death of Smaug. Finally, he and the other Dwarves of
      Thorin's Company fought in the Battle of Five Armies in TA 2942, which he
      survived.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/middlearthfilmseries/images/3/3c/OriThehobbit.png"
      alt="Ori"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg"
      alt="Dori"
    />
  </div>
  <div class="col-md-7">
    <h3>Dori</h3>
    <p>
      Before the Quest of Erebor, Dori lived in Thorin's Halls in the northern
      Blue Mountains with Nori and Ori. In TA 2941, the three became part of
      Thorin and Company, befriending Bilbo Baggins and traveling with him in
      search of Smaug's treasure at the Lonely Mountain.
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Nori</h3>
    <p>
      Nori, as was his brother Dori, was a capable flutist, and both seem to
      have carried their flutes with them. Both shared Bilbo's liking for
      regular meals. Before the Quest for the Lonely Mountain, Nori lived in
      Thorin's Halls in the northern Blue Mountains with his two brothers. He,
      along with Dori and Ori, became part of Thorin and Company, befriending
      Bilbo Baggins and traveling with him in search of Smaug's treasure in the
      Lonely Mountain. After their experience in Goblin-town when the company
      was pursued by Wargs and Orcs and forced to climb up into some trees, Nori
      was the first realize that Bilbo had been left on the ground and pointed
      him out to his brother Dori who rescued Bilbo.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/pjmidearthfilms/images/4/45/014abc34a33ab0e1dff69d68a722d16e.jpg"
      alt="Nori"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="https://atolkienistperspective.files.wordpress.com/2013/08/b2.jpg"
      alt="Bifur"
    />
  </div>
  <div class="col-md-7">
    <h3>Bifur</h3>
    <p>
      Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not
      related to the royal House of Durin. Most of his familial relations are
      unclear, and what is known of his parentage is very little. He and his
      family were driven out of their home in the Lonely Mountain by the dragon
      Smaug, and were forced to live in exile, where the Dwarf warrior worked as
      a toy maker. Following Thorin II Oakenshield to a new life at his halls in
      the Blue Mountains, he continued his life as a toy maker.
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Bofur</h3>
    <p>
      While answering Thorin Oakenshield's quest to Erebor, Bofur went to the
      meeting at Bag End with his brother Bombur and cousin Bifur. He
      accompanied Thorin, Gandalf, Bilbo Baggins, and rest of Thorin's Company
      across Wilderland to the Lonely Mountain in order to reclaim the Dwarves'
      treasure from the dragon Smaug. Following the dragon's demise, Bofur
      participated in and survived the Battle of Five Armies, receiving his
      fourteenth share of the treasure as agreed upon.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://vignette.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg"
      alt="Bofur"
    />
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-5">
    <img
      src="http://www.theonering.net/torwp/wp-content/uploads/2010/11/bombur-stephenhunter.jpg"
      alt="Bombur"
    />
  </div>
  <div class="col-md-7">
    <h3>Bombur</h3>
    <p>
      Bombur's parentage is unknown. He was the brother of Bofur and cousin of
      Bifur. Bombur was not of Durin's line, although he was descended from the
      Dwarves of Khazad-dûm. His birth date is unknown, though it fell somewhere
      between TA 2763 and TA 2859; the brothers Fíli and Kíli were the youngest
      of the thirteen "by some fifty years," and, after Thorin was captured,
      Balin was "the eldest left." Fíli was born in TA 2859, and Balin was born
      in TA 2763. Bombur was thus roughly 150 years old during the quest. Prior
      to the journey, Bombur likely resided in the Blue Mountains alongside
      Thorin, after the loss of Thráin II.
    </p>
  </div>
</div>
<br />
<div class="row featurette">
  <div class="col-md-7">
    <h3>Gandalf</h3>
    <p>
      Realising the returning evil, Galadriel formed and reunited the White
      Council three years later composed of four members: herself, Gandalf,
      Saruman, and Elrond the Half-elf (who was the bearer of another of the
      Three Rings). Galadriel wished Gandalf to be the chief of the Council, but
      he refused the position, wishing to set down no roots and to maintain his
      independence; Saruman took this place instead because of his vast
      knowledge and skill. However, he later grew jealous and afraid of Gandalf,
      which was one of the reasons for his future betrayal.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://assets-prd.ignimgs.com/2022/02/24/ringsofpower-gandalf-blogroll-1645743567179.jpg"
      alt="Gandalf"
    />
  </div>
</div>
{% endblock %}
